<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108128833946-ejutocpjhladckp6vasekov0beij48rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108128833946-ejutocpjhladckp6vasekov0beij48rd</string>
	<key>API_KEY</key>
	<string>AIzaSyBI8_SsypqWhH8B_M1_7gpXgpwuRvjw588</string>
	<key>GCM_SENDER_ID</key>
	<string>108128833946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruchirelukurthy.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b283f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b283f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108128833946:ios:5f0c6d7899a260c371aa23</string>
</dict>
</plist>